@import url(modern-normalize.css);

@font-face {
    font-family: 'Norse Bold';
    src: url(../fonts/Norse-Bold.otf) format('opentype');
}

body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    height: 100vh;
}

header {
    width: 700px;
    position: relative;
}

img {
    display: block;
    width: 100%;
}

#logo {
    position: absolute;
    z-index: 1;
    top: 200px;
    width: 100%;
    text-align: center;

    background-color: #00000077;
    height: 155px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 100px;
}

#logo h1 {
    color: #fff;
    font-family: 'Norse Bold', Helvetica;
    font-size: 6rem;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

figure img {
    height: 100%;
}

figcaption {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    color: #fff;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

figcaption a {
    color: #fff;
}

figcaption a:hover {
    text-decoration: none;
}

main {
    flex: 3 0;

    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    padding: 32px 48px;
}

section:not(:has(form)) {
    background-color: #f9fafb;
}

section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 48px;
}

.big-text {
    font-size: 1.5rem;
    font-weight: 500;
    width: 675px;
    margin: 0;
}

.big-text:first-child {
    margin-bottom: 24px;
}

section:has(form) {
    padding-block: 16px 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 3px 5px #cdcbcb;
    z-index: 1;
}

.form-row {
    display: flex;
    gap: 64px;
}

.form-row:not(:last-child) {
    margin-bottom: 16px;
}

label, input {
    display: block;
}

label {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-shadow: 0 0 2px #c4c4c4;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 6px 8px;
    width: 250px;
    outline: none;
}

input:focus {
    border-color: #2175f3;
    box-shadow: 3px 3px 5px #c2c2c2;
}

input[type='password']:invalid {
    border-color: #cc0c0c;
}

input[type='password']:invalid + span::after {
    content: '* Passwords do not match';
    color: #cc0c0c;
    font-size: 0.8rem;
}

.btn-submit {
    background-color: #596D48;
    color: #fff;
    padding: 12px 48px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: 1.1rem;
    font-weight: bold;

    box-shadow: 0 0 4px #000;
}

.btn-submit:hover {
    background-color: #6d805d;
}

.link {
    font-weight: bold;
    color: #596D48;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}